/*
 * -------------------------------------------------
 *  Nextflow config file for processes options
 * -------------------------------------------------
 * Defines general paths for input files and
 * parameters for your own analysis
 */

params {

    /*
    General parameters
    */
    // Analyzed project name
    # projectName = "assemblify"

    // Output directory to publish workflow results
    # outdir = "${baseDir}/results/${projectName}"
    outdir = "${baseDir}/results"
    resultdir = "${outdir}/02_results"

    // Illumina and Pacbio reads
    datadir = "$ASSEMBLIFY_DATA_PATH"
    illumina_path = "${datadir}/*subset.fastq.gz"
    pacbio_path = "${datadir}/*20X.fastq.gz"
}
