/*
 * -------------------------------------------------
 *  Nextflow config file for default NEWBIE
 *  parameters
 * -------------------------------------------------
 */

params {

    /*
    General parameters
    */

    help = false
    name = false
    monochrome_logs = false
    hostnames = false

    /*
    Outputs steps directory names in output directory
    */
    // PLEASE DO NOT MODIFIED UNLESS YOU KNOW WHAT YOU ARE DOING
    
}
